* {
    margin: 0;
    padding: 0;    
    font-family:"Roboto", sans-serif;
    

}
:root { 
    --cor-principal: #164590;
    --tamanho-fonte: 1rem; /*100px*/
    --cor-secundaria: #f5f5f5;     
    --cor-terciaria:#D9D9D9;
}
aside {
 background-color: var(--cor-principal);
 width: 23vw;
 height: 100vh; 
 display: block;  

}

aside div h1, aside div h4, aside div h3{
    background-color: var(--cor-principal);    
    
}

#centralizador-lateral{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 70px;
}
#centralizador-lateral img{
    width: 130px;
    margin-top: 20px;
}

@media screen and (max-width: 500px){
    main {
        overflow-y: scroll;
    }
    #menu-lateral a span{
        display: none;
    }   
    #centralizador-lateral img{
        width: 55px;
    }
}

@media screen and (min-width: 1600px){
    aside{
        width: 15vw;
    }
}



header {
    background-color: var(--cor-principal);
    width: calc(100% - 35px);
    height: 100%;
    display: flex;
    justify-content: space-between;    
    align-items: center;
    color: var(--cor-secundaria);
    padding-left: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
   
    
}

#sub-titulo{
    text-align: center;
}

#nome-usuario{
    display: flex;
    justify-content: space-evenly;
    width: 300px;
}

#menu-lateral{
    display: flex;
    flex-direction: column;
    gap: 30px;

}
#menu-lateral a {
    color: rgba(255, 255, 255, 1);
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: auto;
    text-align:left;
    display: inline-block;
    width: 100%;

}

#conteudo-principal{
    display: flex;    
}

html, body{
    height: 100vh;
    height: auto;
    margin: 0;
    overflow-x: hidden;
}


main{    
   padding: 70px 10px 20px;
   height: 100%;
   width: 100%;
}

#username{
    color: white;
}

#menu-lateral a{
    text-decoration: none; /* Mantém a cor herdada */
    display: inline-block;
    transition: transform 0.2s ease-in-out; /* Suaviza a transformação */
}
/* Animação ao clicar (efeito de escala) */
a:active {
    transform: scale(0.95); /* Reduz levemente o tamanho */
}

