@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
}

header {
    background: #164590;
    width: 100%;
    height: 70px;
    position: static;
}

#menu_lateral {
    background-color: #164590;
    width: 342px;
    height: calc(100vh - 70px);
    position: static;
}

#menu_lateral #logo {
    position: absolute;
    width: 175px;
    height: 188px;
    top: 55px;
    left: 60px;
}

#links {
    position: absolute;
    top: 345px;
    left: 75px;
}

#links p {
    color: #FFF;
    font-family: "Roboto";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#links #texto_link {
    display: flex;
    gap: 9.3px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#logo_central_de_chamadas {
    width: 236px;
    height: 45px;
    margin-left: 38px;
}

.configuraçoes {
    position: relative;
    top: -6px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.configuraçoes img {
    width: 40px;
    height: 37px;
}

#username {
    margin-top: 12px;
    margin-right: 35px;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.texto_configuraçoes {
    display: flex;
    gap: 9.3px;
}

.conteudo {
    position: relative;
    top: 0px;
    width: 100%;
    left: auto;
    display: flex;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.parte_superior {
    position: relative;
    top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#conteudoMain{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: calc(100% - 342px);
    overflow: scroll;
}

#title_chamadas{
    color: #164590;
    font-size: 2.2rem;
    font-weight: bold;
    border-bottom: solid 2px #164590;
    width: 800px;
    place-items: top;
}

#mainStatus{
    height: 70vh;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    place-items: center;
}

#chamadas{
    border: solid #ccc 4px;
    border-radius: 10px;
    height: 400px;
    width: 75%;
    overflow: hidden;
}

#perfis_cadastrados{
    border: solid #ccc 4px;
    border-radius: 10px;
    height: 400px;
    width: 80%;
    overflow: hidden;
}

#titleStatusChamadas{
    color: #606060;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 10px 20px;
}

#titlePerfis{
    color: #606060;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 10px 20px;
}

#conteudoChamadas{
    height: 340px;

}

#conteudoPerfis{
    height: 340px;
}

@media (max-width: 1080px){
    #mainStatus{
        display: flex;
        flex-direction: column;
    }
    
    #chamadas{
        margin: 20px 
    }

    #perfis_cadastrados{
        margin: 20px;
    }

    #title_chamadas{
        width: 80%;
    }

    #conteudoChamadas{
        height: 190px;
    
    }
    
    #conteudoPerfis{
        height: 19oiuh v 0px;
    }
}