@import url("/style.css");

#campo-busca{
    width: 21vw;
    height: 20px;
    border-width: 2px;  
  
}

nav {
    display: flex;
    justify-content: space-around;
}

#navegacao a {
    color: #8C8C8C;
    text-decoration: auto;
    
}

#navegacao {
    display: flex;
    justify-content: space-evenly;
    width: 27vw;
    
}
hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border-color: var(--cor-principal);
 }

.busca-avancada{
    background-color: var(--cor-terciaria);
    height: 10vw;
    padding-top: 18px;
    margin: 18px;
}

.busca-avancada h2{    
   text-align: center;
   color: var(--cor-principal);   
}

#busca-avancada-form {
    background-color: var(--cor-terciaria);
    padding: 20px;
}

.campos-busca-avancada-form {
    display: flex;     
    justify-content: space-evenly;
}

label {
    display: block;
    margin-bottom: 5px;
}

.campos-busca-avancada-form input, .campos-busca-avancada-form select {
    width: 14.5vw;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

button[type="reset"] {
    background-color: #f44336; /* Red */
}